@page "/inventory"
@inject IProductLogic _productLogic;
@using SDM24MBH.Data;
@using SDM24MBH.Logic;
@using System.Text.Json;
@using Microsoft.Maui.Storage;
@using System.Diagnostics;



<h3>Inventory (@_products.Count)</h3>


<button @onclick="LoadProducts">Load All Products</button>
<button @onclick="SaveProducts">Update Products</button>
<button @onclick="DeleteProducts">Delete Selected Products</button>
<button @onclick="ClearStorage">Clear ALL Data</button>

<label class="spacer"> &emsp; </label>
<button @onclick="ShowInStock">Show In-Stock</button>
<button @onclick="ShowOutOfStock">Show Out-of-Stock</button>
<button @onclick="InventoryValue">Inventory Value</button>

<br>

<label style="width:0.8em;"/>
<input @bind="filterProduct.Id" style="width:2em; text-align: right;"></input>
<input @bind="filterProduct.Brand"/>
<input @bind="filterProduct.Name" />
<input @bind="filterProduct.Description" style="width: 30em;" />
<button @onclick="FilterProducts">Filter</button>
<br>

@{
    pages = (_products.Count - 1) / 10;
    if (page > pages) page = pages;
    if (page < 0) page = 0;
}
<ul class="list-unstyled">
     @for (int i = page * 10; i < (page + 1) * 10 && i < _products.Count; i++) 
    {
        var product = _products.ElementAt(i);
        <li>
            <input type="checkbox" @bind="product.Value.isSelected" />
            <label style="width:2em; text-align: right;">@(product.Key != product.Value.Id ? $"KeyError[{product.Key}]" : product.Key)</label>
            <input @bind="product.Value.Brand" />
            <input @bind="product.Value.Name" />
            <input @bind="product.Value.Description" style="width: 30em;" />
            <label> &nbsp Qty:</label><input @bind="product.Value.Quantity" type="number" style="width: 4em; text-align: right;" />
            <label> &nbsp  $</label><input @bind="product.Value.Price" type="number" style="width: 5.25em; text-align: right;" />
        </li>
    }
</ul>

<button @onclick="PageLeft">PageLeft</button>
<label>[Page: @(page+1) of @(pages+1) ]</label>
<button @onclick="PageRight">PageRight</button>
<br />
<br />

<input placeholder="Brand" @bind="newProduct.Brand" />
<input placeholder="Name" @bind="newProduct.Name" />
<input placeholder="Description" @bind="newProduct.Description" />
<input placeholder="Price" @bind="newProduct.Price" />
<input placeholder="Quantity" @bind="newProduct.Quantity" />

<button @onclick="AddProduct">Add Product</button>



@code {
    // Variables
    private Int32 page = 0;
    private Int32 pages = 0;
    private Dictionary<int, IProduct> _products = new Dictionary<int, IProduct>
       {
        { 1, new Product { Id = 1, Name = "Products should be loading", Description = "from Local Storage?",}
        }
       };
    private IProduct newProduct = new Product();
    private IProduct filterProduct = new Product();



    // Methods
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadProducts();
    }

    // private async void should only be used for event handlers.
    // private async Task should be used for all other methods.
    private async void NIA()
    {
        if (App.Current?.MainPage != null) await App.Current.MainPage.DisplayAlert("NIA", "Not Implemented Yet", "OK");
    }

    private async Task ClearStorage()
    {
        Debug.WriteLine("Attempting to Clear Storage");
        _products.Clear();
        var results = await _productLogic.ClearStorage();
        Debug.WriteLine($"Results: {results}");
    }

    private async Task LoadProducts()
    {
        Debug.WriteLine("Attempting to Load Products");
        _products = await _productLogic.GetAllProducts();
        Debug.WriteLine($"LoadProducts: {_products.Count}");
        if (_products == null || _products.Count <= 0)
        {
            _products = TestIProducts.GetTestProducts();
            Debug.WriteLine($"GetTestProducts: {_products.Count}");
        }
        ClearSelectionAndPage();
    }

    private async Task AddProduct()
    {
        Debug.WriteLine("Attempting to Add Product");
        var newId = await _productLogic.AddProduct(newProduct);
        if (newId > 0)
        {
            _products.Add(newId, newProduct);
            newProduct = new Product();
        }
        Debug.WriteLine($"Added: {newId}");
        ClearSelectionAndPage(false);
    }

    private async Task SaveProducts()
    {
        Debug.WriteLine("Attempting to Save Products");
        var results = await _productLogic.AddUpdateProducts(_products);
        Debug.WriteLine($"SaveProducts: {results}");
        ClearSelectionAndPage();
    }

    private async Task DeleteProducts()
    {
        Debug.WriteLine("Attempting to Delete Products");
        var keysToDelete = _products.Where(p => p.Value.isSelected).Select(p => p.Key).ToList();
        keysToDelete.ForEach(key => _products.Remove(key));
        var results = await _productLogic.DeleteProducts(keysToDelete);
        Debug.WriteLine($"DeleteProducts: {results}");
        ClearSelectionAndPage(false);
    }

    private async Task ShowInStock()
    {
        Debug.WriteLine("Attempting to Show In-Stock");
        // await LoadProducts();
        // _products = _products.Where(p => p.Value.Quantity > 0).ToDictionary(p => p.Key, p => p.Value);
        _products = await _productLogic.GetInStockProducts();
        Debug.WriteLine($"ShowInStock: {_products.Count}");
        ClearSelectionAndPage();
    }

    private async Task ShowOutOfStock()
    {
        Debug.WriteLine("Attempting to Show Out-of-Stock");
        // await LoadProducts();
        // _products = _products.Where(p => p.Value.Quantity <= 0).ToDictionary(p => p.Key, p => p.Value);
        _products = await _productLogic.GetOutOfStockProducts();
        Debug.WriteLine($"ShowOutOfStock: {_products.Count}");
        ClearSelectionAndPage();
    }

    private async Task InventoryValue()
    {
        Debug.WriteLine("Attempting to Calculate Inventory Value");
        // await LoadProducts();
        // var results = _products.Sum(p => p.Value.Price * (p.Value.Quantity >= 0 ? p.Value.Quantity : 0));
        var results = await _productLogic.GetTotalValueOfStock();
        if (App.Current?.MainPage != null) await App.Current.MainPage.DisplayAlert("Inventory Value", $"Total Value of Stock: {results:C}", "OK");
        Debug.WriteLine($"InventoryValue: {results}");
    }

    // Clear Selections and Optionally Page
    private void ClearSelectionAndPage(Boolean clearPage = true)
    {
        _products.Keys.ToList().ForEach(key => _products[key].isSelected = false);
        if (clearPage) page = 0;
    }

    private async Task FilterProducts ()     {
        Debug.WriteLine("Attempting to Filter Products");
        if (filterProduct.Id > 0) _products = _products.Where(p => p.Key == filterProduct.Id).ToDictionary(p => p.Key, p => p.Value);
        if (!string.IsNullOrEmpty(filterProduct.Brand)) _products = _products.Where(p => p.Value.Brand.Contains(filterProduct.Brand, StringComparison.OrdinalIgnoreCase)).ToDictionary(p => p.Key, p => p.Value);
        if (!string.IsNullOrEmpty(filterProduct.Name)) _products = _products.Where(p => p.Value.Name.Contains(filterProduct.Name, StringComparison.OrdinalIgnoreCase)).ToDictionary(p => p.Key, p => p.Value);
        if (!string.IsNullOrEmpty(filterProduct.Description)) _products = _products.Where(p => p.Value.Description.Contains(filterProduct.Description, StringComparison.OrdinalIgnoreCase)).ToDictionary(p => p.Key, p => p.Value);
        Debug.WriteLine($"FilterProducts: {_products.Count}");
        ClearSelectionAndPage();
        await Task.CompletedTask;
    }

    private async Task PageLeft()
    {
        Debug.WriteLine("Attempting to Page Left");
        var tmp = --page;
        ClearSelectionAndPage();
        page = tmp;
        Debug.WriteLine($"PageLeft: {page}");
        await Task.CompletedTask;
    }

    private async Task PageRight()
    {
        Debug.WriteLine("Attempting to Page Right");
        var tmp = ++page;
        ClearSelectionAndPage();
        page = tmp;
        Debug.WriteLine($"PageRight: {page}");
        await Task.CompletedTask;
    }

}
